---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Terms of Use — Samartya Apps"
  description="Terms of Use for Samartya Apps."
>
  <section class="section pt-24 pb-16">
    <div class="container max-w-m mx-auto">
      <h1 class="mb-8 text-center">Terms of Use</h1>
      <div class="content-box">
        <p>
          The Products transacted through the Service are licensed, not sold, to
          You for use only under the terms of this license, unless a Product is
          accompanied by a separate license agreement, in which case the terms
          of that separate license agreement will govern, subject to Your prior
          acceptance of that separate license agreement. The licensor
          (“Application Provider”) reserves all rights not expressly granted to
          You. The Product that is subject to this license is referred to in
          this license as the “Licensed Application.”
        </p>

        <ol>
          <li>
            <strong>Scope of License:</strong> This license granted to You for the
            Licensed Application by Application Provider is limited to a non-transferable
            license to use the Licensed Application on any iPhone or iPod touch that
            You own or control and as permitted by the Usage Rules set forth in Section
            9.b. of the App Store Terms and Conditions (the “Usage Rules”). This license
            does not allow You to use the Licensed Application on any iPod touch or
            iPhone that You do not own or control, and You may not distribute or make
            the Licensed Application available over a network where it could be used
            by multiple devices at the same time. You may not rent, lease, lend, sell,
            redistribute or sublicense the Licensed Application. You may not copy
            (except as expressly permitted by this license and the Usage Rules), decompile,
            reverse engineer, disassemble, attempt to derive the source code of, modify,
            or create derivative works of the Licensed Application, any updates, or
            any part thereof (except as and only to the extent any foregoing restriction
            is prohibited by applicable law or to the extent as may be permitted by
            the licensing terms governing use of any open-sourced components included
            with the Licensed Application). Any attempt to do so is a violation of
            the rights of the Application Provider and its licensors. If You breach
            this restriction, You may be subject to prosecution and damages. The terms
            of the license will govern any upgrades provided by Application Provider
            that replace and/or supplement the original Product unless such upgrade
            is accompanied by a separate license in which case the terms of that license
            will govern.
          </li>

          <li>
            <strong>Consent to Use of Data:</strong> You agree that Application Provider
            may collect and use technical data and related information, including
            but not limited to technical information about Your device, system and
            application software, and peripherals, that is gathered periodically to
            facilitate the provision of software updates, product support and other
            services to You (if any) related to the Licensed Application. Application
            Provider may use this information, as long as it is in a form that does
            not personally identify You, to improve its products or to provide services
            or technologies to You.
          </li>

          <li>
            <p>
              <strong
                >Collection of Data from Children under the age of 13:</strong
              >
              The Application Provider may collect and use app usage data, including
              logs of the actions that a user makes when using the Licensing Application.
              The Application Provider may make use of third-party plugins for collecting
              and storing such usage data, including Mixpanel. The Application Provider
              uses this information for the purpose of improving the Licensed Application
              and marketing efforts. If the intended user of the Licensed Application
              is under the age of 13, You agree to provide parental consent to the
              Application Provider for collection and use of this information.
            </p>
            <p>
              You agree not to provide personally identifiable information of
              children under the age of 13, such as e-mail ID, to the
              Application Provider through interfaces provided within the
              software to register for marketing communications. The Application
              Provider has provided the functionality to register for marketing
              communications only for use by adults who are assisting children
              with the use of the Licensed Application. You can find more
              information about the kind of information collected, how it is
              used, and how to opt-out by reading the Application Provider’s
              privacy policy.
            </p>
          </li>

          <li>
            <strong>Termination.</strong> The license is effective until terminated
            by You or Application Provider. Your rights under this license will terminate
            automatically without notice from the Application Provider if You fail
            to comply with any term(s) of this license. Upon termination of the license,
            You shall cease all use of the Licensed Application, and destroy all copies,
            full or partial, of the Licensed Application.
          </li>

          <li>
            <p>
              <strong>Services; Third-Party Materials:</strong> The Licensed Application
              may enable access to Application Provider’s and third party services
              and web sites (collectively and individually, “Services”). Use of the
              Services may require Internet access and that You accept additional
              terms of service.
            </p>
            <p>
              You understand that by using any of the Services, You may
              encounter content that may be deemed offensive, indecent, or
              objectionable, which content may or may not be identified as
              having explicit language, and that the results of any search or
              entering of a particular URL may automatically and unintentionally
              generate links or references to objectionable material.
              Nevertheless, You agree to use the Services at Your sole risk and
              that the Application Provider shall not have any liability to You
              for content that may be found to be offensive, indecent, or
              objectionable.
            </p>
            <p>
              Certain Services may display, include or make available content,
              data, information, applications or materials from third parties
              (“Third Party Materials”) or provide links to certain third-party
              web sites. By using the Services, You acknowledge and agree that
              the Application Provider is not responsible for examining or
              evaluating the content, accuracy, completeness, timeliness,
              validity, copyright compliance, legality, decency, quality or any
              other aspect of such Third Party Materials or web sites. The
              Application Provider does not warrant or endorse and does not
              assume and will not have any liability or responsibility to You or
              any other person for any third-party Services, Third Party
              Materials or web sites, or for any other materials, products, or
              services of third parties. Third-Party Materials and links to
              other web sites are provided solely as a convenience to You.
              Financial information displayed by any Services is for general
              informational purposes only and is not intended to be relied upon
              as investment advice. Before executing any securities transaction
              based upon information obtained through the Services, You should
              consult with a financial professional. Location data provided by
              any Services is for basic navigational purposes only and is not
              intended to be relied upon in situations where precise location
              information is needed or where erroneous, inaccurate or incomplete
              location data may lead to death, personal injury, property or
              environmental damage. Neither the Application Provider, nor any of
              its content providers, guarantees the availability, accuracy,
              completeness, reliability, or timeliness of stock information or
              location data displayed by any Services.
            </p>
            <p>
              You agree that any Services contain proprietary content,
              information and material that is protected by applicable
              intellectual property and other laws, including but not limited to
              the copyright, and that You will not use such proprietary content,
              information or materials in any way whatsoever except for
              permitted use of the Services. No portion of the Services may be
              reproduced in any form or by any means. You agree not to modify,
              rent, lease, loan, sell, distribute, or create derivative works
              based on the Services, in any manner, and You shall not exploit
              the Services in any unauthorized way whatsoever, including but not
              limited to, by trespass or burdening network capacity. You further
              agree not to use the Services in any manner to harass, abuse,
              stalk, threaten, defame or otherwise infringe or violate the
              rights of any other party, and that the Application Provider is
              not in any way responsible for any such use by You, nor for any
              harassing, threatening, defamatory, offensive or illegal messages
              or transmissions that You may receive as a result of using any of
              the Services.
            </p>
            <p>
              In addition, third party Services and Third Party Materials that
              may be accessed from, displayed on or linked to from the iPad,
              iPhone or iPod touch are not available in all languages or in all
              countries. The Application Provider makes no representation that
              such Services and Materials are appropriate or available for use
              in any particular location. To the extent You choose to access
              such Services or Materials, You do so at Your own initiative and
              are responsible for compliance with any applicable laws, including
              but not limited to applicable local laws.
            </p>
            <p>
              The Application Provider, and its licensors reserve the right to
              change, suspend, remove, or disable access to any Services at any
              time without notice. In no event will the Application Provider be
              liable for the removal of or disabling of access to any such
              Services. The Application Provider may also impose limits on the
              use of or access to certain Services, in any case, and without
              notice or liability.
            </p>
          </li>

          <li>
            <strong>No warranty:</strong> You expressly acknowledge and agree that
            use of the licensed application is at Your sole risk and that the entire
            risk as to the satisfactory quality, performance, accuracy and effort
            is with You. To the maximum extent permitted by applicable law, the licensed
            application and any services performed or provided by the licensed application
            (“services”) Are provided “as is” and “as available”, with all faults
            and without warranty of any kind, and Application Provider hereby disclaims
            all warranties and conditions with respect to the licensed application
            and any services, either express, implied or statutory, including, but
            not limited to, the implied warranties and/Or conditions of merchantability,
            of satisfactory quality, of fitness for a particular purpose, of accuracy,
            of quiet enjoyment, and non-infringement of third party rights. Application
            Provider does not warrant against interference with Your enjoyment of
            the licensed application, that the functions contained in, or services
            performed or provided by, the licensed application will meet Your requirements,
            that the operation of the licensed application or services will be uninterrupted
            or error-free, or that defects in the licensed application or services
            will be corrected. No oral or written information or advice is given by
            Application Provider or its authorized representative shall create a warranty.
            Should the licensed application or services prove defective, You assume
            the entire cost of all necessary servicing, repair or correction. Some
            jurisdictions do not allow the exclusion of implied warranties or limitations
            on applicable statutory rights of a consumer, so the above exclusion and
            limitations may not apply to You.
          </li>

          <li>
            <strong>Limitation of liability.</strong> To the extent not prohibited
            by law, in no event shall Application Provider be liable for personal
            injury, or any incidental, special, indirect or consequential damages
            whatsoever, including, without limitation, damages for loss of profits,
            loss of data, business interruption or any other commercial damages or
            losses, arising out of or related to Your use or inability to use the
            licensed application, however caused, regardless of the theory of liability
            (Contract, tort or otherwise) And even if Application Provider has been
            advised of the possibility of such damages. Some jurisdictions do not
            allow the limitation of liability for personal injury, or of incidental
            or consequential damages, so this limitation may not apply to You. In
            no event shall Application Provider’s total liability to You for all damages
            (Other than as may be required by applicable law in cases involving personal
            injury) exceed the amount of fifty dollars ($50.00). The foregoing limitations
            will apply even if the above-stated remedy fails of its essential purpose.
          </li>

          <li>
            You may not use or otherwise export or re-export the Licensed
            Application except as authorized by United States law and the laws
            of the jurisdiction in which the Licensed Application was obtained.
            In particular, but without limitation, the Licensed Application may
            not be exported or re-exported (a) into any U.S. embargoed countries
            or (b) to anyone on the U.S. Treasury Department’s list of Specially
            Designated Nationals or the U.S. Department of Commerce Denied
            Person’s List or Entity List. By using the Licensed Application, You
            represent and warrant that You are not located in any such country
            or on any such list. You also agree that You will not use these
            products for any purposes prohibited by United States law,
            including, without limitation, the development, design, manufacture
            or production of nuclear, missiles, or chemical or biological
            weapons.
          </li>

          <li>
            The Licensed Application and related documentation are “Commercial
            Items”, as that term is defined at 48 C.F.R. §2.101, consisting of
            “Commercial Computer Software” and “Commercial Computer Software
            Documentation”, as such terms are used in 48 C.F.R. §12.212 or 48
            C.F.R. §227.7202, as applicable. Consistent with 48 C.F.R. §12.212
            or 48 C.F.R. §227.7202-1 through 227.7202-4, as applicable, the
            Commercial Computer Software and Commercial Computer Software
            Documentation are being licensed to U.S. Government end users (a)
            only as Commercial Items and (b) with only those rights as are
            granted to all other end users pursuant to the terms and conditions
            herein. Unpublished-rights reserved under the copyright laws of the
            United States.
          </li>

          <li>
            The laws of the State of California, excluding its conflicts of law
            rules, govern this license and Your use of the Licensed Application.
            Your use of the Licensed Application may also be subject to other
            local, state, national, or international laws.
          </li>
        </ol>

        <h2>Contact</h2>
        <p>
          You can contact us about this privacy statement by emailing us at the
          address below:
          <a href="mailto:support@samartya.com">support@samartya.com</a>
        </p>

        <p>Effective on 2013-06-20</p>
        <p>Updated on 2026-04-22</p>
      </div>
    </div>
  </section>

  <style>
    .pt-24 {
      padding-top: var(--spacing-24);
    }
    .pb-16 {
      padding-bottom: var(--spacing-16);
    }
    .mb-8 {
      margin-bottom: var(--spacing-8);
    }
    .max-w-m {
      max-width: 800px;
    }
    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .text-center {
      text-align: center;
    }

    .content-box {
      background: var(--color-bg-surface);
      padding: var(--spacing-12);
      border-radius: var(--border-radius-lg);
      box-shadow: var(--shadow-sm);
      border: 1px solid var(--color-border);
    }

    .content-box ol {
      padding-left: var(--spacing-8);
      list-style-type: lower-alpha;
      margin-top: var(--spacing-4);
      margin-bottom: var(--spacing-4);
    }

    .content-box ol li {
      margin-bottom: var(--spacing-8);
      line-height: 1.6;
    }

    .content-box ol li:last-child {
      margin-bottom: 0;
    }

    .content-box ol li p {
      margin-bottom: var(--spacing-4);
    }

    .content-box ol li p:last-child {
      margin-bottom: 0;
    }
  </style>
</Layout>
